<!DOCTYPE html>
<html>
  <head>
    <title>Angular Challenge</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript" src="../javascripts/angularApp.js"></script>
  </head>
  <body ng-app="angularChallenge">
    <nav class="navbar navbar-default" ng-controller="navCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{currentUser()}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a href="#/logout">Logout</a></li>
        <li ng-hide="isLoggedIn()"><a href="#/register">Register</a></li>
        <li ng-hide="isLoggedIn()"><a href="#/login/" >Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container-fluid">
      <div class="row">

      </div>
      <div ui-view><div>
    </div>
  </body>
</html>