<div class="col-12-md">
	<h1>{{name}}</h1>
	<div ng-hide="isLoggedIn()">
		<h1 class="text-center">Angular Challenge</h1>
		<p class="text-center">Something is hidden to unregistered users! Register and Login to see what it is!</p>
	</div>
	<div ng-show="isLoggedIn()">
		<h1 class="text-center">Angular Challenge Completed</h1>
		<p class="text-center">You know, this was a lot faster to login to than it was to finish the project. Here are a couple of songs that I listened to while I worked on this challenge: </p>
		<div class="text-center">
			<iframe src="https://www.youtube.com/embed/7Au2dPEi72c"></iframe>
			<iframe src="https://www.youtube.com/embed/MCs_1EFmjkg"></iframe>
			<iframe src="https://www.youtube.com/embed/zPjvCk2AqbY"></iframe>
		</div>

		<div>
			<h2 class="text-center">Obligatory Lorem Ipsum</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lacus eget ligula scelerisque molestie. Aliquam eget libero in nunc finibus aliquet. Nullam at lectus id mauris accumsan fermentum et vel metus. Proin ullamcorper, odio et tempus posuere, sapien orci convallis orci, ac feugiat odio velit at lorem. Integer accumsan mi nec tellus auctor condimentum. Quisque sed orci ac urna gravida porttitor sed non enim. Aliquam non erat ut enim pharetra tristique. Cras vel orci nec odio auctor vulputate non ut ante. Curabitur eu eros semper, aliquet sapien vitae, congue metus. Nam iaculis massa lectus, ut posuere lacus aliquam in. Pellentesque vehicula, nulla a ornare tristique, neque velit dictum augue, sit amet gravida eros ante accumsan nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In tempus dui ante, at blandit magna tincidunt sit amet.</p>

<p>Cras dignissim molestie nulla, ac sodales velit sollicitudin vitae. Ut sodales lacinia turpis, nec bibendum felis placerat in. Ut efficitur, ligula at vestibulum porta, arcu augue imperdiet augue, facilisis semper lacus sapien nec tortor. Fusce fermentum nisi sed velit pretium tincidunt. In sodales aliquam volutpat. Fusce vulputate metus tellus, in vestibulum libero cursus quis. Nulla vel quam id augue rhoncus dignissim nec nec sem. Suspendisse tempus neque vitae nibh venenatis rhoncus. Integer fermentum bibendum velit, in elementum magna finibus vel. Nullam sit amet consequat nibh. Donec vel lacinia ante. Mauris mattis orci augue, ac ultrices mauris placerat ac. Aliquam viverra arcu eget turpis varius, at hendrerit dolor lobortis. Donec ultricies faucibus elementum.</p>
		</div>
		
	</div>
    
</div>